.orders-hero {
    padding: 60px;

    background: linear-gradient(135deg, #00573f, #0b8d66);

    border-radius: 30px;

    margin: 40px 0;

    color: white;

    text-align: center;
}

.orders-hero h1 {
    font-size: 52px;

    margin-bottom: 15px;
}

.orders-list {
    display: flex;

    flex-direction: column;

    gap: 30px;

    margin-bottom: 60px;
}

.order-card-modern {
    background: white;

    padding: 35px;

    border-radius: 30px;

    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);

    transition: 0.3s;
}

.order-card-modern:hover {
    transform: translateY(-6px);
}

.order-header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 30px;
}

.order-header small {
    color: #f47920;

    font-weight: bold;
}

.order-header h2 {
    color: #00573f;
}

.progress-line {
    width: 100%;

    height: 10px;

    background: #e5e5e5;

    border-radius: 50px;

    overflow: hidden;

    margin-bottom: 15px;
}

.progress-active {
    height: 100%;

    background: #00573f;
}

.progress-active.pending {
    width: 30%;
}

.progress-active.preparing {
    width: 65%;
}

.progress-active.completed {
    width: 100%;
}

.progress-text {
    display: flex;

    justify-content: space-between;

    font-weight: bold;

    color: #777;

    margin-bottom: 30px;
}

.order-footer {
    display: flex;

    justify-content: space-between;

    align-items: center;
}

.order-footer a {
    padding: 12px 25px;

    background: #00573f;

    color: white;

    text-decoration: none;

    border-radius: 50px;

    font-weight: bold;
}

.order-footer a:hover {
    background: #f47920;
}

.empty-card {
    background: white;

    padding: 80px;

    border-radius: 30px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.empty-card i {
    font-size: 80px;

    color: #00573f;

    margin-bottom: 20px;
}

.empty-card a {
    display: inline-block;

    margin-top: 20px;

    padding: 14px 30px;

    background: #f47920;

    color: white;

    border-radius: 50px;

    text-decoration: none;

    font-weight: bold;
}
